<a href="https://colab.research.google.com/github/VitaliiKisin/Final-project-1/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [103]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
lst += ['kiborg'] * 10
lst += ['machine'] * 10
random.shuffle(lst)
data = pd.DataFrame(lst, columns={'whoAmI': lst})
data.head(20)

     whoAmI
0   machine
1    kiborg
2     robot
3   machine
4    kiborg
5   machine
6    kiborg
7     robot
8     robot
9   machine
10    robot
11    human
12   kiborg
13  machine
14  machine
15    human
16    robot
17   kiborg
18  machine
19   kiborg

In [110]:
data = pd.DataFrame(random.sample(['human', 'robot']*10, 20) ,columns={'whoAmI': lst})
data.head(15)

   whoAmI
0   robot
1   robot
2   robot
3   robot
4   robot
5   human
6   robot
7   human
8   human
9   human
10  human
11  human
12  robot
13  human
14  human

In [108]:
data.loc[data['whoAmI']!='human','human'] = '0'
data.loc[data['whoAmI']=='human','human'] = '1'
data.loc[data['whoAmI']!='robot','robot'] = '0'
data.loc[data['whoAmI']=='robot','robot'] ='1'
data.head(15)

     whoAmI robot human
0   machine     0     0
1    kiborg     0     0
2     robot     1     0
3   machine     0     0
4    kiborg     0     0
5   machine     0     0
6    kiborg     0     0
7     robot     1     0
8     robot     1     0
9   machine     0     0
10    robot     1     0
11    human     0     1
12   kiborg     0     0
13  machine     0     0
14  machine     0     0